@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans'), local('OpenSans-Regular'),
  url('public/assets/fonts/open-sans/Regular/OpenSans-Regular.woff2') format('woff2'),
  url('public/assets/fonts/open-sans/Regular/OpenSans-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'),
  url('public/assets/fonts/open-sans/Bold/OpenSans-Bold.woff2') format('woff2'),
  url('public/assets/fonts/open-sans/Bold/OpenSans-Bold.woff') format('woff');
}

.button {
  font-family: 'Open Sans';
  background: white url(public/assets/images/button-bg.png);
  background-size: cover;
  font-size: 60px;
  margin: 0px;
  padding: 20px;
  color: #000;
  border: 5px solid #226fa2;
  outline: 0;
  cursor: pointer;

  &:hover {
    border-color: #fcb72a;
  }

  &:active {
    border-color: #ef0a0a;
  }
}

