<template>
  <footer class="app__footer pt-4 pr-5 pl-5">
    <figure class="image is-pulled-right">
      <img src="public/assets/images/TSY_Logo_3c_n.png">
    </figure>
  </footer>


</template>

<script>
export default {
  name: "Footer"
}
</script>

<style lang="scss" scoped>
.app__footer {
  background-color: #383838;
  height: 72px;
  .image {
    img {
      max-height: 32px;
      width: auto;
    }
  }
}
</style>