<template>
  <header class="app__header">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <span class="navbar-item">
        <img alt="" src="public/assets/images/TSY_Logo_3c_p.png">
      </span>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <span class="navbar-item is-size-1">
          {{ getClientName }}
        </span>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div v-if="isLoggedIn" class="items">
            User: {{getUserName}}
          </div>
          <div class="buttons">
            <button v-if="isLoggedIn" @click="logOut" class="button is-ghost">
                <font-awesome-icon icon="sign-out-alt" /> Log out
            </button>
            <button @click="userNameInputFocus" v-else class="button is-ghost">
              <router-link to="/login" class="nav-link">
                <font-awesome-icon icon="sign-in-alt" /> Log in
              </router-link>
            </button>
          </div>
        </div>
      </div>
    </div>
  </nav>
  </header>
</template>

<script>
export default {
  name: "Header",
  props: {
    currentUser: Object,
  },
  computed: {
    getClientName() {
      return CLIENT ? CLIENT : ''
    },
    isLoggedIn() {
      return !!this.currentUser && this.currentUser.userName
    },
    getUserName() {
      return this.currentUser.userName
    }
  },
  methods: {
    logOut() {
      this.$store.dispatch('auth/logout');
      this.$router.push('/login');
    },
    userNameInputFocus() {
      const input = document.querySelector('input[name=username]')
      if(input) {
        input.focus()
      }
    }
  }
}
</script>

<style scoped lang="scss">
.app__header {
  border-bottom: 3px double #383838;
  background-color: #FBFBFB;
  .navbar {
    background-color: #FBFBFB;
  }
  .navbar-item img {
    max-height: 45px;
  }
}
</style>