<template>
  <div class="card">
    <div class="card-content">
      <div class="content">
        <Form @submit="handleLogin" :validation-schema="schema"  v-slot="{ errors, values }">
          <h3 class="title is-3">Login</h3>
        <div class="field">
          <label class="label">Username</label>
          <div class="control has-icons-left has-icons-right">
            <Field name="username" type="text" class="input" :class="{'is-danger': errors.username, 'is-success': values.username}" />
            <span class="icon is-small is-left">
              <font-awesome-icon icon="user" />
            </span>
            <span class="icon is-small is-right">
              <font-awesome-icon v-if="errors.username" icon="exclamation-triangle" />
              <font-awesome-icon v-if="values.username" icon="check" />
            </span>
            <ErrorMessage name="username" class="has-text-danger is-size-7" />
          </div>
        </div>

        <div class="field">
          <label class="label">Password</label>
          <div class="control has-icons-left has-icons-right">
            <Field name="password" type="password" class="input" :class="{'is-danger': errors.password, 'is-success': values.password}" />
            <span class="icon is-small is-left">
              <font-awesome-icon icon="lock" />
            </span>
            <span class="icon is-small is-right">
              <font-awesome-icon v-if="errors.password" icon="exclamation-triangle" />
              <font-awesome-icon v-if="values.password" icon="check" />
            </span>
            <ErrorMessage name="password" class="has-text-danger is-size-7" />
          </div>
        </div>
          <div class="field">
            <div class="control">
            <button :disabled="isFetching" type="submit" class="button is-danger is-fullwidth" :class="{'is-loading': isFetching}">Submit</button>
              <div v-if="message" class="has-text-danger is-size-6 mt-1">
                {{ message }}
              </div>
            </div>
          </div>
        </Form>
      </div>
    </div>
  </div>
</template>

<script>
import { Form, Field, ErrorMessage } from "vee-validate";
import * as yup from "yup";

export default {
  name: "LoginForm",
  components: {
    Form,
    Field,
    ErrorMessage,
  },
  data() {
    const schema = yup.object().shape({
      username: yup.string().required("Username is required!"),
      password: yup.string().required("Password is required!"),
    });

    return {
      loading: false,
      message: "",
      schema,
    };
  },
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    },
    isFetching() {
      return this.loading
    }
  },
  created() {
    if (this.loggedIn) {
      this.$router.push("/profile");
    }
  },
  methods: {
    handleLogin(user) {
      this.loading = true;

      this.$store.dispatch("auth/login", user).then(
          () => {
            this.loading = false;
            this.$router.push("/profile");
          },
          (error) => {
            this.loading = false;
            let errors = error.message || error.toString();
            if(error.response && error.response.status === 403) {
              errors = 'Invalid username or password'
            }
            this.message = errors

          }
      );
    },
  },
};
</script>

<style scoped>
.control {
  min-height: 65px;
}
.card {
  width: 30rem;
  margin: 0 auto;
  transform: translateY(60%);
}
</style>