<template>
  <div class="card">
    <div class="card-content">
      <div class="content">
        <Form @submit="handleProfile" :validation-schema="schema" v-slot="{ errors, values }">
          <h3 class="title is-3">Choose profile</h3>
          <div class="field">
            <div v-for="item in currentUser.profile" :key="item.name" class="control">
              <Field v-slot="{ field }" name="profile" >
                <label class="radio is-size-5">
                  <input type="radio" name="profile" v-bind="field" :value="item.name" />
                  {{item.name}}</label>
              </Field>

<!--                <Field name="profile" type="radio" value="{{item.name}}"></Field>
                {{ item.name }}-->
            </div>
            <div class="control">
              <ErrorMessage name="profile" class="has-text-danger is-size-6"/>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <button :disabled="isFetching" type="submit" class="button is-danger is-fullwidth"
                      :class="{'is-loading': isFetching}">Submit
              </button>
              <div class="control">
                <div v-if="message" class="has-text-danger is-size-6 mt-1">
                  {{ message }}
                </div>
              </div>
            </div>
          </div>
        </Form>
      </div>
    </div>
  </div>
</template>

<script>
import {Form, Field, ErrorMessage} from "vee-validate";
import * as yup from "yup";

export default {
  name: 'Profile',
  components: {
    Form,
    Field,
    ErrorMessage,
  },
  data() {
    const schema = {
      profile: (value) => {
        if (value) {
          return true;
        }
        return "You must select your role";
      },
    }
    return {
      loading: false,
      message: "",
      schema,
    };
  },
  computed: {
    currentUser() {
      return this.$store.getters['auth/getUser'];
    },
    isFetching() {
      return this.loading
    }
  },
  created() {
    if (!this.currentUser) {
      this.$router.push('/login');
    }
  },
  methods: {
    handleProfile(profile) {
      this.loading = true;
      this.$store.dispatch('auth/profile', profile).then(
          () => {
            this.loading = false;
            this.$router.push('/home');
          },
          (error) => {
            this.loading = false;
            this.message =
                (error.response &&
                    error.response.data &&
                    error.response.data.message) ||
                error.message ||
                error.toString();
          }
      );
    },
  },
};
</script>

<style scoped>
.control {
  min-height: 35px;
}

.card {
  width: 30rem;
  margin: 0 auto;
  transform: translateY(60%);
}
</style>