@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans'), local('OpenSans-Regular'),
  url('public/assets/fonts/open-sans/Regular/OpenSans-Regular.woff2') format('woff2'),
  url('public/assets/fonts/open-sans/Regular/OpenSans-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'),
  url('public/assets/fonts/open-sans/Bold/OpenSans-Bold.woff2') format('woff2'),
  url('public/assets/fonts/open-sans/Bold/OpenSans-Bold.woff') format('woff');
}

.table {
  background: white url(public/assets/images/table-bg.jpg);
  background-size: cover;
  font-family: 'Open Sans';
  border-spacing: 0;
  border: 1px solid black;

  tr {
    :last-child {
      td {
        border-bottom: 0;
      }
    }
  }

  th,
  td {
    margin: 0;
    padding: 0.5rem;
    border-bottom: 1px solid black;
    border-right: 1px solid black;

    :last-child {
      border-right: 0;
    }
  }
}