  <template>
    <div class="app__content">
    <section class="hero">
      <div class="hero-body">
        <p class="title">
          Open ITCS dialogs
        </p>
        <p>&nbsp;</p>
        <p class="subtitle">
          <a @click.prevent="openWindow"
             href="http://localhost:8084/singleWebtasticPoc?viewType=vl">
            Vehicle List</a>
        </p>
        <p class="subtitle">
          <a @click.prevent="openWindow"
             href="http://localhost:8084/singleWebtasticPoc?viewType=sm&width=1000&height=600">
            System Messages</a>
        </p>
        <p class="subtitle">
          <a @click.prevent="openWindow"
             href="http://localhost:8084/singleWebtasticPoc?viewType=vd&width=600&height=600">
            Vehicle Details</a>
        </p>
        <p class="subtitle">
          <a @click.prevent="openWindow"
             href="http://localhost:8084/singleWebtasticPoc?viewType=lb&width=500&height=1000">
            Line Band</a>
        </p>
        <p class="subtitle">
          <a class="has-text-danger" @click.prevent="openWindow"
             href="http://localhost:8084/singleWebtasticPoc?width=500&height=1000">
            Wrong Dialog</a>
        </p>
      </div>
    </section>
    </div>
</template>

<script>
export default {
  name: "Home",
  computed: {
    currentProfile() {
      return this.$store.getters['auth/getUserProfile'];
    },
    currentStatus() {
      return this.$store.getters['auth/getUserStatus'];
    }
  },
  mounted() {
    if (!this.currentStatus || !this.currentProfile) {
      this.$store.dispatch("auth/logout")
      this.$router.push('/login');
    }
  },
  methods: {
    openWindow(event) {
      const defaultSizes = {
        width: 1250,
        height: 825
      }
      const defaultOptions = 'channelmode=no, location=no, menubar=no, titlebar=no, toolbar=no'

      const targetUrl = new URL(event.target.getAttribute('href'))
      const width = targetUrl.searchParams.get('width') || defaultSizes.width
      const height = targetUrl.searchParams.get('height') || defaultSizes.height
      const id = targetUrl.searchParams.get('viewType')

      if(!id) return alert('Wrong url, can not be open!')

      let newWindow = open(targetUrl.href, id, `height=${height}, width=${width}, ${defaultOptions}`);
      newWindow.focus();
    }
  }
};
</script>
  <style lang="scss" scoped>
  .app__content {
    background-color: #dedede;
    height: calc(100vh - 162px);
  }
  </style>
