<template>
  <div class="app__content">
    <LoginForm></LoginForm>
  </div>
</template>
<script>
import LoginForm from "../LoginForm";

export default {
  name: "Login",
  components: {
    LoginForm
  },
  computed: {
    currentUser() {
      return this.$store.getters['auth/getUser'];
    }
  },
  mounted() {
    if (this.currentUser) {
      this.$router.push('/profile');
    }
  },
};
</script>

<style lang="scss" scoped>
.app__content {
  background-color: #383838;
  height: calc(100vh - 162px);
}
</style>
