<template>
  <div class="app__content">
    <ProfileForm></ProfileForm>
  </div>
</template>
<script>
import ProfileForm from '../ProfileForm'

export default {
  name: "Login",
  components: {
    ProfileForm
  },
  computed: {
    currentProfile() {
      return this.$store.getters['auth/getUserProfile'];
    }
  },
  mounted() {
    if (this.currentProfile) {
      this.$router.push('/home');
    }
  },
};
</script>

<style lang="scss" scoped>
.app__content {
  background-color: #383838;
  height: calc(100vh - 162px);
}
</style>