<template>
    <Header :currentUser="currentUser"></Header>
    <router-view />
    <Footer/>
</template>
<script>
import Header from "./components/Header";
import Footer from "./components/Footer";
export default {
  components: {
    Header,
    Footer
  },
  computed: {
    currentUser() {
      return this.$store.getters['auth/getUser'];
    },
  },
};
</script>
